@font-face {
    font-family: 'Bell MT';
    src: url('fonts/BellMT.ttf')
}


.root {
    -fx-font-size: 14px;
    font-size: 14px;
}

 
#big {
    -fx-font: 20 'Bell MT';
    font: 20 'Bell MT';
    -fx-text-fill: #35568c;
}